.title {
	display: none;
}

.button {
	display: none;
}

.splash-wrapper {
	background: #05C3D5;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.splash-wrapper:after {
	content: "Sorry, this only works on your phone right now.";
	font-size: 1em;
}